<!DOCTYPE html>
<html>
<head>
  <title>Cadastro CNPJ</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#cnpj').change(function() {
        var cnpj = $(this).val();

        $.ajax({
          url: '/dados?cnpj=' + cnpj,
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            // Preencha os campos com os dados recebidos da API
            $('#fantasia').val(data.fantasia);
            $('#bairro').val(data.bairro);
            $('#telefone').val(data.telefone);
            $('#logradouro').val(data.logradouro);
            $('#numero').val(data.numero);
          },
          error: function() {
            // Lide com erros de requisição
            alert('Erro ao obter dados do CNPJ.');
          }
        });
      });
    });
  </script>
</head>
<body>
  <h1>Cadastro de Farmacia</h1>

  <form action="/salvarFarmacia" method="POST">

    <input type="hidden" name="typeUser" value="farmacia">

    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br><br>

    <label for="cnpj">Cnpj:</label>
    <input type="text" id="cnpj" name="cnpj" required><br><br>

    <label for="fantasia">Nome Fantasia:</label>
    <input type="text" id="fantasia" name="fantasia" required><br><br>
    
    <label for="bairro">Bairro:</label>
    <input type="text" id="bairro" name="bairro" required><br><br>

    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" name="telefone" required><br><br>

    <label for="logradouro">Logradouro:</label>
    <input type="text" id="logradouro" name="logradouro" required><br><br>

    <label for="numero">Numero:</label>
    <input type="string" id="numero" name="numero" required><br><br>

    <input type="submit" value="Enviar">
  </form>
  <a href="http://localhost:3000/login"><button>Voltar</button></a>


</body>
</html>