<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos Cadastrados</title>
    <link rel="stylesheet" href="css/lista.css">
</head>
<body>
    <table class="table" width="30%" cellspacing="10" cellpadding="4">
        <thead>
            
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <!-- <th>Paciente</th> -->
                <th>Quantidade</th>
                <th>Validade</th>
                
            </tr>
            
        </thead>
        <hr>
        <tbody data-tabela>

        </tbody>
    </table>
    <script type="module" src="src/listaProdutos.js"></script>
    
    <a href="http://localhost:3000/home">
        <button>Voltar</button>
    </a>
</body>

</html>