  /*estilo geral */
  body{ margin:10px;
    background-color: #B0E0E6;
    text-align: center;
  }
    /*estilo topico principal */
  h1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
    /*estilo dos botoes */
  
    input[type="button"]{
      font-size: 30px;
      width: 50%!important;
      padding: 8px 5px;
      background: #3d9db3;
      border: 1px solid #fff;	
      border-radius: 5px;
      cursor: pointer;
      color: white;
    }
    
    input[type="button"]:hover{
  
      background: #4ab3c6;
  
  
    }